[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
librosa = "*"
dtw = "*"
django-celery = "*"
celery = "*"
django-audiofield = "*"

[requires]
python_version = "3.5"
